.linkedListMain{
    display: grid;
    justify-content: center;
  }

.linkedListMain .ui input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 165px;
}

.linkedListMain .ui button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
    border-radius: 5px;
}

.linkedListMain .ui button:hover{
    background-color: orange;
    border: 2px solid orange;
    cursor: pointer;
}

.linkedListMain .theList li{
    color: #FFF;
    background-color: rgba(0, 0, 0, .5);
    padding: 15px;
    width: 100px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;

    transition: background-color .2s ease-out;
}



ul.theList{
    padding: 0;
}