body{
    background-color: lightblue;
}

a{
    color: inherit;
    text-decoration: none;
    font-size: 12px;
    transition: font-size .2s ease-in;
}

a:hover{
    font-weight: bold;
    font-size: 14px;
    transition: font-size .4s ease-out;
}

.linkedListMain{
    background-color: lightcoral;
    display: grid;
    grid-template-areas:
    " head head head head head "
    " . ui main . . "
    " footer footer footer footer footer";
    
  }

.linkedListMain .header{
    display: grid;
    grid-area: head;
    background-color: red;
    align-self: center;
    justify-self: center;
    margin-bottom: 2rem;

    transition: font-size .2s ease-in;
    
}

.linkedListMain .ui{
    display: grid;
    background-color: lightseagreen;
    grid-area: ui;
    margin-left: 15px;
    max-width: 300px;
    max-height: 300px;
}

.linkedListMain .ui input{
    padding: 10px;
    
    margin-right: 12px;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 200px;
    
    
}

.linkedListMain .ui button {
    align-self: center;
    justify-self: center;

    padding: 15px;
    margin: 10px;
    margin-right: 0px;

    border-radius: 5px;

    background-color: #0066FF;
    border: 2px solid #0066FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;

    transition: font-size .2s ease-in;
    transition: width .3s ease-in;
    transition: background-color .2s ease-in;
}

#removeHead{
    margin-left: 0px;
    width: 200px;

    transition: font-size .2s ease-out;
}

.linkedListMain .ui button:hover{
    background-color: orange;
    border: 2px solid lightgoldenrodyellow;
    cursor: pointer;
    font-size: 18px;
    transition: font-size .2s ease-out;
    transition: background-color .2s ease-out;
}

.linkedListMain .theList{
    background-color: lightgoldenrodyellow;
    grid-area: main;

    
}



#action{
    display: inline;
    color: white;
    background-color: green;
    padding: 15px;
    border-radius: 5px;
    width: auto;
    
    
}

.linkedListMain .theList li{
    display: inline-block;
    color: #FFF;
    background-color: rgba(0, 0, 0, .5);
    padding: 15px;
    width: auto;
    margin: 10px;
    border-radius: 5px;
    list-style: none;

    transition: width .2s ease-out;
   
}



.linkedListMain .footer{
    display: grid;
    grid-area: footer;
    align-items: center;
    justify-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    
    margin-top: 2rem;
    padding: 15px;

    background-color: slategray;
    color: white;
    
    font-size: 10px;
    text-align: center;

}


@media only screen and (max-width: 800px){
    .linkedListMain .header{
        font-size: 10px;

        transition: font-size .2s ease-in;
    }
}

@media only screen and (max-width: 600px) {
    
    

    .linkedListMain .ui{
        max-width: 150px;
        transition: max-width .2s ease-in;
    }

    .linkedListMain .ui input{
        width: 45px;
        transition: width .2s ease-in;
    }

    .linkedListMain .ui button{
        margin-right: 10px;
        transition: width .3s ease-out;
        transition: margin-right .2s ease-out;
    }

    #removeHead{
        width: 75px;
        font-size: 12px;
    }

    .linkedListMain .theList th{
        display: none;
        transition: display .2s ease-out;
    }
    
}