body{
    background-color: lightblue;
}
.linkedListMain{
    background-color: lightcoral;
    display: grid;
    grid-template-areas:
    ". . head . ."
    "ui . main main .";
    
  }

.linkedListMain h1{
    grid-area: head;
    background-color: red;
    justify-content: center;
    
}

.linkedListMain .ui{
    background-color: lightseagreen;
    grid-area: ui;
    justify-content: start;
    margin-left: 15px;
    
}

.linkedListMain .ui input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 165px;
}

.linkedListMain .ui button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
    border-radius: 5px;
}

.linkedListMain .ui button:hover{
    background-color: orange;
    border: 2px solid orange;
    cursor: pointer;
}

.linkedListMain .theList{
    background-color: lightgoldenrodyellow;
    grid-area: main;
}

.linkedListMain .theList th{
    color: white;
    background-color: green;
    padding: 15px;
    border-radius: 5px;
}

.linkedListMain .theList td{
    color: #FFF;
    background-color: rgba(0, 0, 0, .5);
    padding: 15px;
    width: 100px;
    margin-left: 15px;
    border-radius: 5px;
    list-style: none;

    transition: background-color .2s ease-out;
}

table.theList{
    padding: 0;
}